In [7]:
import pandas as pd
data = pd.read_csv("student_performance_data.csv")
print("Dataset preview")
print(data.head())
missing_values = data.isnull().sum()
print("\n missing values in each column") 
print(missing_values)

Dataset preview
   StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA      Major  \
0          1    Male   24                 37           90.75  3.47       Arts
1          2  Female   22                 37           74.90  2.32  Education
2          3    Male   22                 10           53.36  2.38   Business
3          4    Male   24                 10           70.26  3.46    Science
4          5    Male   18                 19           74.87  2.31  Education

  PartTimeJob ExtraCurricularActivities
0         Yes                        No
1          No                        No
2          No                        No
3         Yes                        No
4         Yes                        No

 missing values in each column
StudentID                    0
Gender                       0
Age                          0
StudyHoursPerWeek            0
AttendanceRate               0
GPA                          0
Major                        0
PartTimeJob                  0
ExtraCurricularActivities    0
dtype: int64

In [8]:

missing_values_df = data.isnull()
print("Missing Values in the Dataset (True indicates missing):")
print(missing_values_df)

Missing Values in the Dataset (True indicates missing):
     StudentID  Gender    Age  StudyHoursPerWeek  AttendanceRate    GPA  \
0        False   False  False              False           False  False
1        False   False  False              False           False  False
2        False   False  False              False           False  False
3        False   False  False              False           False  False
4        False   False  False              False           False  False
..         ...     ...    ...                ...             ...    ...
495      False   False  False              False           False  False
496      False   False  False              False           False  False
497      False   False  False              False           False  False
498      False   False  False              False           False  False
499      False   False  False              False           False  False

     Major  PartTimeJob  ExtraCurricularActivities
0    False        False                      False
1    False        False                      False
2    False        False                      False
3    False        False                      False
4    False        False                      False
..     ...          ...                        ...
495  False        False                      False
496  False        False                      False
497  False        False                      False
498  False        False                      False
499  False        False                      False

[500 rows x 9 columns]

In [9]:

non_missing_values_df = data.notnull()
print("\nNon-Missing Values in the Dataset (True indicates non-missing):")
print(non_missing_values_df)

Non-Missing Values in the Dataset (True indicates non-missing):
     StudentID  Gender   Age  StudyHoursPerWeek  AttendanceRate   GPA  Major  \
0         True    True  True               True            True  True   True
1         True    True  True               True            True  True   True
2         True    True  True               True            True  True   True
3         True    True  True               True            True  True   True
4         True    True  True               True            True  True   True
..         ...     ...   ...                ...             ...   ...    ...
495       True    True  True               True            True  True   True
496       True    True  True               True            True  True   True
497       True    True  True               True            True  True   True
498       True    True  True               True            True  True   True
499       True    True  True               True            True  True   True

     PartTimeJob  ExtraCurricularActivities
0           True                       True
1           True                       True
2           True                       True
3           True                       True
4           True                       True
..           ...                        ...
495         True                       True
496         True                       True
497         True                       True
498         True                       True
499         True                       True

[500 rows x 9 columns]

In [10]:

filled_df = data.fillna(0)
print("Data after filling missing values with 0:")
print(filled_df)
filled_with_mean_df = data.fillna(data.mean(numeric_only=True))
print("\nData after filling missing values with the mean:")
print(filled_with_mean_df)

Data after filling missing values with 0:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

Data after filling missing values with the mean:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

In [11]:
# Drop rows with any missing values
dropped_rows_df = data.dropna()
print("\nData after dropping rows with any missing values:")
print(dropped_rows_df)
#
# Drop columns with any missing values
dropped_columns_df = data.dropna(axis=1)
print("\nData after dropping columns with any missing values:")
print(dropped_columns_df)

# Drop rows where all values are missing
dropped_all_missing_rows_df = data.dropna(how='all')
print("\nData after dropping rows where all values are missing:")
print(dropped_all_missing_rows_df)

Data after dropping rows with any missing values:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

Data after dropping columns with any missing values:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

Data after dropping rows where all values are missing:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

In [12]:

replaced_df = data.replace(to_replace=pd.NA, value=999)
print("\nData after replacing NaN with 999:")
print(replaced_df)
replaced_specific_df = data.replace({'old_value': 'new_value'})
print("\nData after replacing specific values:")
print(replaced_specific_df)
print(" Data after replacing specific values in the dataset are described in the below dataset")

Data after replacing NaN with 999:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

Data after replacing specific values:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

In [13]:
print(data.columns)

Index(['StudentID', 'Gender', 'Age', 'StudyHoursPerWeek', 'AttendanceRate',
       'GPA', 'Major', 'PartTimeJob', 'ExtraCurricularActivities'],
      dtype='object')

In [14]:
# Linear interpolation
df_interpolated = data.interpolate(method='linear')
print("\nDataFrame after interpolation:")
print(df_interpolated)

DataFrame after interpolation:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob ExtraCurricularActivities
0           Arts         Yes                        No
1      Education          No                        No
2       Business          No                        No
3        Science         Yes                        No
4      Education         Yes                        No
..           ...         ...                       ...
495      Science          No                        No
496      Science          No                        No
497      Science          No                       Yes
498     Business          No                       Yes
499  Engineering          No                        No

[500 rows x 9 columns]

C:\Users\AYUSH CHOUDHARY\AppData\Local\Temp\ipykernel_17480\3874776429.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = data.interpolate(method='linear')

In [17]:
# Find unique values in a specific column
unique_gpa = data['GPA'].unique()
unique_ages = data['Age'].unique()

print("\nUnique names:")
print(unique_gpa)

print("\nUnique ages:")
print(unique_ages)
unique_values = pd.unique(data.values.ravel())
print("\nUnique values in the entire DataFrame:")
print(unique_values)

Unique names:
[3.47 2.32 2.38 3.46 2.31 2.47 3.93 2.51 3.32 3.96 2.75 2.04 2.49 3.66
 3.73 3.54 2.23 3.59 3.84 3.2  3.88 3.65 3.33 3.15 2.7  3.21 2.64 3.99
 3.5  2.18 2.58 2.22 3.3  3.53 3.85 2.88 3.8  3.76 2.63 3.74 2.59 2.66
 3.26 3.22 3.13 2.76 3.1  3.19 3.09 2.89 2.03 3.17 2.34 3.29 3.52 3.
 3.08 3.9  3.69 3.83 3.63 2.3  3.05 2.95 2.79 3.49 3.43 3.04 3.64 2.86
 3.79 2.14 3.91 3.31 2.39 2.96 2.33 3.23 3.34 3.86 3.06 3.16 3.44 2.8
 3.95 2.25 3.72 3.6  2.37 2.85 2.17 2.01 3.28 3.03 2.35 2.72 3.81 3.11
 2.6  3.7  3.62 3.07 2.36 2.62 2.46 2.41 2.12 2.28 2.55 3.35 3.45 2.68
 2.67 3.55 2.53 2.73 2.69 2.54 3.36 2.91 2.1  3.92 3.27 3.51 2.82 2.
 2.77 2.24 2.19 3.58 3.01 2.13 2.45 2.48 3.02 2.56 3.75 3.57 2.78 2.42
 2.65 2.05 3.87 2.16 2.97 3.24 2.15 3.38 2.44 2.81 2.71 2.5  2.27 2.84
 3.67 2.4  2.09 2.74 2.2  3.89 3.56 2.99 2.9  3.78 2.21 3.98 2.08 2.07
 2.92 3.94 2.02 2.52 3.12 2.11 3.37 2.98 2.83 2.87 3.48 3.68 2.94 2.43
 2.06 3.41]

Unique ages:
[24 22 18 20 19 23 21]

Unique values in the entire DataFrame:
[1 'Male' 24 ... 57.18 500 96.99]

In [18]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['ExtraCurricularActivities'] =label_encoder.fit_transform(data['StudentID'])
print("\nDataFrame with Encoded Columns:")
print(data)

DataFrame with Encoded Columns:
     StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA  \
0            1    Male   24                 37           90.75  3.47
1            2  Female   22                 37           74.90  2.32
2            3    Male   22                 10           53.36  2.38
3            4    Male   24                 10           70.26  3.46
4            5    Male   18                 19           74.87  2.31
..         ...     ...  ...                ...             ...   ...
495        496    Male   22                 37           76.61  2.97
496        497    Male   23                 11           56.29  3.20
497        498  Female   20                  6           56.64  3.20
498        499    Male   22                 18           57.18  2.05
499        500  Female   24                 21           96.99  2.64

           Major PartTimeJob  ExtraCurricularActivities
0           Arts         Yes                          0
1      Education          No                          1
2       Business          No                          2
3        Science         Yes                          3
4      Education         Yes                          4
..           ...         ...                        ...
495      Science          No                        495
496      Science          No                        496
497      Science          No                        497
498     Business          No                        498
499  Engineering          No                        499

[500 rows x 9 columns]

In [27]:
shape = data.shape
print("shape of the data",shape)

shape of the data (500, 9)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  500 non-null    int64
 1   Gender                     500 non-null    object
 2   Age                        500 non-null    int64
 3   StudyHoursPerWeek          500 non-null    int64
 4   AttendanceRate             500 non-null    float64
 5   GPA                        500 non-null    float64
 6   Major                      500 non-null    object
 7   PartTimeJob                500 non-null    object
 8   ExtraCurricularActivities  500 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 35.3+ KB

In [31]:
data['StudentID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 500 entries, 0 to 499
Series name: StudentID
Non-Null Count  Dtype
--------------  -----
500 non-null    int64
dtypes: int64(1)
memory usage: 4.0 KB